# Dependencias
node_modules/
.pnpm-store/

# Compilación
dist/
build/

# IDEs y Editores
.vscode/
.idea/
*.suo
*.ntvs
*.njsproj
*.sln
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db